<div class="hero-section">
    <div class="container">
        <header class="text-center mb-4">
            <h1 class="hero-title">Simulation Results</h1>
        </header>
    </div>
</div>

<div class="container py-5">
    <main>
        <%- include('partials/_simulation-content') %>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/" class="btn btn-outline-primary">New Simulation</a>
        </div>
    </main>
</div>
